name: Trigger Pipeline Run on new tag

on:
  workflow_dispatch:
  schedule:
    # Runs at 7am EST every day (11am UTC)
    - cron: '0 11 * * 1-5'

jobs:
  fetch:
    name: Fetch and Push Image Tag
    env:
      EVENT_LISTENER_ROUTE: ${{ secrets.EVENT_LISTENER_ROUTE }}
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Tag
        # Get the latest 2.7.x DOWNSTREAM tag
        run: |
          for page in $(seq 1 10); do
            tag27=$(curl -s "https://quay.io/api/v1/repository/acm-d/acm-custom-registry/tag/?page=$page" | jq .tags[].name | grep 2.7.*-DOWNSTREAM | head -1 | sed -e 's|\"||g')
            if [[ -n "$tag27" ]]; then
              echo "tag27=$tag27" >> $GITHUB_ENV
              break
            else
              echo "tag27 is empty, trying again"
            fi
          done

          for page in $(seq 1 10); do
            tag28=$(curl -s "https://quay.io/api/v1/repository/acm-d/acm-custom-registry/tag/?page=$page" | jq .tags[].name | grep 2.8.*-DOWNSTREAM | head -1 | sed -e 's|\"||g')
            if [[ -n "$tag28" ]]; then
              echo "tag28=$tag28" >> $GITHUB_ENV
              break
            else
              echo "tag28 is empty, trying again"
            fi

            #suffix=$(cat /dev/urandom | env LC_ALL=C tr -dc 'a-z0-9' | fold -w 10 | head -n 1)
            CLUSTER_CLAIM_NAME=hypershift-ci-cluster-
            echo "CLUSTER_CLAIM_NAME=$CLUSTER_CLAIM_NAME" >> $GITHUB_ENV
          done
      - name: echo tag
        run: |
          echo "Using tags" ${{ env.tag27 }} "and" ${{ env.tag28 }} 
          echo "Clusterclaim name is" $CLUSTER_CLAIM_NAME
      - name: Push Tag
        run: >-
          curl -v -H 'content-Type: application/json' -d '{"message": {"clusterClaimName": "${{env.CLUSTER_CLAIM_NAME}}", "tag27": "${{env.tag27}}", "tag28": "${{env.tag28}}"} }' $EVENT_LISTENER_ROUTE
        
